.header {
	background-color: #99d3df;
	font-family: Century Gothic, sans-serif;  
	height: 50px; 
	width: 100%;
	overflow: hidden; 
}
.navbar {
	text-align: center; 
	font-family: Century Gothic, sans-serif;
	color: #000000;
	float: right; 
	padding-top: 0px;
}
.logo {
	float: left;
}
.content0 {
	text-align: center; 
}
a {
	text-decoration: none;
	font-size: 15px;
	color: #e9e9e9;
}
a:visited {
	color: #e9e9e9;
}
a:hover {
	color: #f19f4d;
}
table td {
	padding: 15px;
}
body {
	font-family: Century Gothic, sans-serif; 
	color: #000000;
	margin-left: auto;
	margin-right: auto; 
	width: 700px;
	background-image: url(images/body.jpg);
}
main {
	background-color: #e9e9e9;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
#homeimg {
	padding-left: 20px;
	width:250px;
	height:260px;
}
#homeimg:hover {
	padding-left: 20px;
	z-index:1;
	width:270px;
	height:270px;
	margin:0;
	border:none;
}
#floatright {
	float: right;
	width: 400px;
}
#content1 {
	height: 200px;
	width: 670px;
	padding-top: 0px;
}
#content2 {
	height: 200px;
	width: 670px;
}
.floatleft {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	text-align: center;
	color: #99d3df;
}

.overlay {
  display: inline-block;
  background-color: #000000;
  overflow: hidden;
  width: 200px;
  height: 15%;
  transition: .5s ease;
  opacity: .6;
  float: right;
}
.square:hover .overlay {
  height: 100%;
}

.text{
font-family: Century Gothic, sans-serif; 
font-size: 15px;
}

#gallery ul {
	list-style-type: none;
}
#gallery li {
	display: inline-block;
	width: 200px;
	padding-bottom: 10px;
	margin-right: 20px;
	float: right;
}


/* http://stackoverflow.com/questions/20456694/grid-of-responsive-squares */
.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; 
    margin:1.66%;
    overflow:hidden;
    background-color: #000000;
    color: #ffffff;
}

.content {
    position:absolute;
    height:100%;
    width:100%;
    padding: 0%;
    text-align: center;
}

.table{
    display:table;
    height:100%;
    width:100%;
}

.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

/* hover effects */
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  font-size: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  overflow: hidden;
  width: 100%;
  height: 15%;
  transition: .5s ease;
  opacity: .6;
}

.square:hover .overlay {
  height: 100%;
}

#famimg {
	z-index:0;
	width:200px;
	height:200px;
	margin:0;
	border:none;
}
#famimg:hover {
	z-index:1;
	width:210px;
	height:210px;
	margin:0;
	border:none;
}

#friendsimg {
	z-index:0;
	width:200px;
	height:200px;
	margin:0;
	border:none;
}
#friendsimg:hover {
	z-index:1;
	width:210px;
	height:210px;
	margin:0;
	border:none;
}

h3 {
	padding-left: 10px;
}

footer {
	background-color: #99d3df;
	text-align: center; 
	font-family: Century Gothic, sans-serif; 
	color: #e9e9e9;
	height: 30px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 20px;
}